* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

:root {
  --font-Barlow-basic: "Barlow", sans-serif;
  --font-Barlow-standart: "Barlow Semi Condensed", sans-serif;
  --font-header: "Fraunces", serif;
  font-size: 18px;
  --s-font: 1rem;
  --clr-black-font: black;
  --clr-grey-light: hsl(232, 10%, 45%);
  --clr-dark-green: hsl(167, 40%, 24%);
}

html {
  width: 100%;
  height: 100%;
}

.header-wrapper {
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center bottom;
}
.navheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  text-align: center;
}

.nav-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  align-items: center;
}
.img-sunny {
  margin-left: 2rem;
}

a {
  margin-left: 1rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
.contact-btn {
  font-family: var(--font-header);
  text-transform: uppercase;
  font-size: var(--s-font);
  padding: 0.8rem 1.5rem;
  background-color: white;
  border-radius: 2rem;
  color: var(--clr-black-font);
}

.uberschrift1 {
  margin-top: 7rem;
  font-size: 4rem;
  color: white;
  font-family: var(--font-header);
  text-transform: uppercase;
}
.arrow {
  transition: slow-down linear;
}
.header-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "zeile1 zeile2"
    "zeile3 zeile4"
    "zeile5 zeile6";
}
.image-ei {
  width: 100%;

  object-fit: cover;
  object-position: center;
  grid-area: zeile2;
  background-color: hsl(51, 100%, 49%);
  background-position: center;
}
.section1-text1 {
  width: 100%;
  height: 100%;
  grid-area: zeile1;
  background-color: hsl(0, 0%, 100%);
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-family: "Fraunces", serif;
}
.section1-text1 h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  margin-inline: 7rem;
  margin-left: 8rem;
}
.section1-text1 p {
  margin-inline: 8rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  color: hsl(210, 4%, 67%);
}
.section1-text1 button {
  border: unset;
  font-size: 1.3rem;
  background-color: white;
  text-decoration: none;
  border-bottom: 0.2rem solid yellow;
  margin-right: 1rem;
  margin-bottom: 3rem;
  margin-left: 8rem;

  font-family: "Barlow Semi Condensed", sans-serif;
}
.img-standout {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: zeile3;
}
.section1-text2 {
  width: 100%;
  grid-area: zeile4;

  background-color: hsl(0, 0%, 100%);
  margin-top: 3rem;
  font-family: "Fraunces", serif;
}
.section1-text2 h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  margin-inline: 7rem;
  margin-left: 8rem;
}
.section1-text2 p {
  margin-inline: 8rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  color: hsl(210, 4%, 67%);
}
.section1-text2 button {
  border: unset;
  font-size: 1.3rem;
  background-color: white;
  text-decoration: none;
  text-decoration: hsl(7, 99%, 70%);
  border-bottom: 0.2rem solid hsl(7, 99%, 70%);
  margin-right: 14rem;
  margin-bottom: 3rem;
  margin-left: 8rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.section1-3-1 {
  height: 100%;
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: center top;
  grid-area: zeile5;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.section1-3-1 h3 {
  align-items: center;
  margin-top: 50%;
  margin-bottom: 3rem;
  color: hsl(167, 40%, 24%);
  font-size: 1.3rem;
}
.section1-3-1 p {
  margin-inline: 5rem;
}

.section1-3-2 {
  background-image: url(./images/desktop/image-photography.jpg);
  grid-area: zeile6;
  background-position: center top;
  background-size: cover;
  background-color: hsl(167, 40%, 24%);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.section1-3-2 h3 {
  align-items: center;
  margin-top: 50%;
  margin-bottom: 3rem;
  color: hsl(198, 62%, 26%);
  font-size: 1.3rem;
}
.section1-3-2 p {
  margin-inline: 5rem;
}
.kontakt-wapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 80vh;
}

.client-h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  /*color: var(--clr-black-light);*/
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: var(--clr-grey-light);
}
.bilder {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1.5rem;
  max-width: 100%;
  height: 50%;
}
.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}
.customer > img {
  width: 20%;
  aspect-ratio: 1;
  margin-inline: auto;
  border-radius: 50%;
}
.test-client {
  font-family: var(--font-Barlow-standart);
  line-height: 1.5rem;
  margin-top: 2.5rem;
}

.name-customer {
  font-family: var(--font-header);
  font-weight: 900;
  margin-top: 5rem;
}
.job-customer {
  font-family: var(--font-Barlow-standart);
  color: var(--clr-grey-light);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.section2 {
  display: flex;

  margin-bottom: -0.3rem;
}
.section-footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 40vh;

  background-color: hsl(168, 34%, 41%);
}
.svg-text {
  fill: var(--clr-dark-green);
  text-transform: uppercase;
  margin-block: 3rem 2rem;
}
.li-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  list-style: none;
  margin-inline: auto;

  width: 30%;
}
.links {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-inline: auto;
}

.svg-links {
  fill: var(--clr-dark-green);
}
