* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  max-height: 100%;
}
body {
  width: 100%;
}

.banner {
  background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
  height: 80vh;
  min-height: 400px;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-inline: 20px;
  align-items: center;
}

.menues {
  display: flex;
  font-size: 18px;
  color: white;
  align-items: center;
}
.menues span {
  margin-right: 30px;
  cursor: pointer;
}
.contact {
  background-color: white;
  color: black;
  padding: 8px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.contact:hover {
  background-color: antiquewhite;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  flex-grow: 1;
  color: white;
  font-weight: bold;
}
.arrow {
  margin-top: 60px;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
}
.section1 img {
  display: flex;

  height: 35vh;
  width: 50vw;
}
.section1 .left {
  text-align: center;
  align-items: center;

  max-height: 35%;
  margin-top: 5px;
  margin-inline: 5px;
  width: 50vw;
}
.section1-p {
  margin: 10px;
  margin-inline: 140px;
}
.section1-h1 {
  font-size: 24px;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}

.section2-img {
  display: flex;
  max-width: 100%;
  max-height: 25%;
  height: 25vh;
  width: 50vw;
}
.section2-right {
  text-align: center;
  align-items: center;
  max-width: 50%;
  max-height: 25%;
  margin-top: 5px;
  margin-inline: 10px;
  width: 50vw;
}
.section2-p {
  margin: 10px;
  margin-inline: 150px;
}
.section3 {
  width: 100%;
  display: flex;
}
.section3-left {
  background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 25vh;
}
.section3-right {
  background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 25vh;
}

.section4 {
  height: 50%;
}

.section5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

.section5-1 {
  width: 25%;
  height: 25vh;
  margin: 0;
}

.section5-2 {
  width: 25%;
  height: 25vh;
  margin: 0;
}

.section5-3 {
  width: 25%;
  height: 25vh;
  margin: 0;
}
.section5-4 {
  width: 25%;
  height: 25vh;
  margin: 0;
}
